# Gradle
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Java
*.class
*.log
*.jar
*.war
*.zip
*.tar.gz
hs_err_pid*

# Gradle Wrapper (MUST be after *.jar)
!gradle/wrapper/gradle-wrapper.jar
